# Force Update Version 1.1
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
google-generativeai
python-multipart
jinja2
pydantic
cloudinary
requests
langchain
langchain-google-genai
